/*
Slidebox jQuery banner rotator and image slideshow plugin styling
*/

/* basic/minimum styling */
.slidebox{position:relative; background:#FFF; overflow:hidden;}
.slidebox,.slidebox .slideboxSlide{width:300px;}
.slidebox,.slidebox .slideboxSlides,.slidebox .slideboxSlide{height:200px;}
.slidebox ul{position:relative; overflow:hidden; margin:0; padding:0; border:0; list-style-type:none;}
.slidebox ul li{float:left;}
.slidebox ul li .slideboxCaption{padding:0px; font-family:Verdana,Geneva,sans-serif; font-size:13px;}
.slideboxContainer{position:relative;}
.slideboxContainer .slideboxNext,.slideboxContainer .slideboxPrevious{position:absolute; display:block; width:21px; height:21px; top:50%; margin-top:-11px;}
.slideboxContainer .slideboxNext{right:0; margin-right:10px; background:url(../images/slidebox_next.png) no-repeat; display:none;}
.slideboxContainer .slideboxNext:hover{background:url(../images/slidebox_next_hover.png) no-repeat;}
.slideboxContainer .slideboxPrevious{margin-left:10px; background:url(../images/slidebox_previous.png) no-repeat; display:none;}
.slideboxContainer .slideboxPrevious:hover{background:url(../images/slidebox_previous_hover.png) no-repeat;}
.slideboxContainer .slideboxThumbs{position:absolute; bottom:10px; right:10px; text-align:center;}
.slideboxContainer .slideboxThumbs .slideboxThumb{display:inline-block; margin:0 3px; width: background:#666; min-width:12px; min-height:10px; text-decoration:none; font-size:12px; color:#fff;}
.slideboxContainer .slideboxThumbs .slideboxThumb:hover,.slideboxContainer .slideboxThumbs .selectedSlideboxThumb{background:#fff; color:#666;}